<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <connectionStrings>
        <add name="PVReporter.Properties.Settings.TemcoConnectionString"
            connectionString="Data Source=192.168.0.2\MSSQL;Initial Catalog=TemcoPartsVendors_Default_v1;Persist Security Info=True;Provider=SQLOLEDB;User ID=sa;Password=Travel123"
            providerName="System.Data.SqlClient" />
        <add name="PVReporter.Properties.Settings.Temco_PVConnectionString"
            connectionString="Data Source=192.168.0.2\MSSQL;Initial Catalog=TemcoPartsVendors_Default_v1;Persist Security Info=True;Provider=SQLOLEDB;User ID=sa;Password=Travel123"
            providerName="System.Data.SqlClient" />
        <add name="PVReporter.Properties.Settings.PVConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Z:\Designs\Lib\DB\Temco.mdb"
            providerName="System.Data.OleDb" />
        <add name="PVReporter.Properties.Settings.TemcoPartsVendors_Default_v1ConnectionString"
            connectionString="Data Source=192.168.0.2\MSSQL;Initial Catalog=TemcoPartsVendors_Default_v1;Persist Security Info=True;User ID=sa;Password=Travel123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />        
    </startup>
</configuration>