{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=127.0.0.1; Initial Catalog=TemcoPartsVendors_Default_v1; User ID=sa;Password=Travel123",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.UN",
                    "Identifier": "Units",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:Units"
                },
                {
                    "Tablename": "dbo.TYPE",
                    "Identifier": "Type",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:Type"
                },
                {
                    "Tablename": "dbo.SHIP",
                    "Identifier": "Shipment",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:Shipment"
                },
                {
                    "Tablename": "dbo.CUR",
                    "Identifier": "ExchangeRate",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:ExchangeRate"
                },
                {
                    "Tablename": "dbo.ORG",
                    "Identifier": "Company",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:Company"
                },
                {
                    "Tablename": "dbo.TestUnit",
                    "Identifier": "TestUnit",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:TestUnit"
                },
                {
                    "Tablename": "dbo.HPREF",
                    "Identifier": "CustomData",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:CustomData"
                },
                {
                    "Tablename": "dbo.PN",
                    "Identifier": "Parts",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:Parts"
                },
                {
                    "Tablename": "dbo.SU",
                    "Identifier": "Vendors",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:Vendors"
                },
                {
                    "Tablename": "dbo.LNK",
                    "Identifier": "PVRelation",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:PVRelation"
                },
                {
                    "Tablename": "dbo.PL",
                    "Identifier": "PartsBOM",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:PartsBOM"
                },
                {
                    "Tablename": "dbo.PurchasePart",
                    "Identifier": "PurchasePart",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:PurchasePart"
                },
                {
                    "Tablename": "dbo.PurchaseDetails",
                    "Identifier": "PurchaseDetails",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:PurchaseDetails"
                },
                {
                    "Tablename": "dbo.PartsBOMView",
                    "Identifier": "PartsBomView",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVenros:PartsBomView"
                },
                {
                    "Tablename": "dbo.Test",
                    "Identifier": "Test",
                    "Module": "PartsVendors",
                    "ConnectionKey": "Default",
                    "PermissionKey": "PartsVendors:TEST"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\TemcoPartsVendors\\TemcoPartsVendors.Web\\TemcoPartsVendors.Web.csproj",
    "RootNamespace": "TemcoPartsVendors",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}